<div id="home-page-container">
    <div id="title-and-btn-container">
        <h1 id="cinema-ih-text">Cinema Ironhack</h1>
        <button class="btn" id="check-movies-btn"><a href="/movies">Check the movies!</a></button>
    </div>
</div>